<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
	<setting name="callSettersOnNulls" value="true" /> 
    <setting name="jdbcTypeForNull" value="VARCHAR"/>
   </settings>
     <typeAliases>
     <typeAlias type="com.bjscar.vehicle.model.vo.Vehicle" alias="vehicle"/>
     <typeAlias type="com.bjscar.member.model.vo.Member" alias="member"/>
  	 <typeAlias type="com.bjscar.rentalshop.model.vo.Rentalshop" alias="rentalshop"/>
     <typeAlias type="com.bjscar.mypage.model.vo.RentalHistory" alias="rentalHistory"/>
     <typeAlias type="com.bjscar.member.model.vo.SecessionMember" alias="secessionmember"/>
     <typeAlias type="com.bjscar.attachment.model.vo.Attachment" alias="attachment"/>
     <typeAlias type="com.bjscar.plan.model.vo.Plan" alias="plan"/>
     <typeAlias type="com.bjscar.businessman.model.vo.Businessman" alias="businessman"/>
   </typeAliases> 

</configuration>
