<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">
	<resultMap type="board" id="boardMap">
		<id property="ibPostId" column="ib_post_id" />
		<result property="ibPostTitle" column="ib_post_title" />
		<result property="ibPostWriter" column="ib_post_writer" />
		<result property="ibPostDate" column="ib_post_date" />
		<result property="ibPostCategory" column="ib_post_category" />
		<result property="ibPostContent" column="ib_post_content" />
	</resultMap>
	<select id="selectBoardList" parameterType="board" resultMap="boardMap">
		SELECT * FROM INQUIRE_BOARD ORDER BY IB_POST_DATE DESC
	</select>
	
	<select id="selectBoardCount" resultType="_int">
		SELECT COUNT(*) FROM INQUIRE_BOARD
	</select>
		
	<insert id="insertBoard" parameterType="board">
		INSERT INTO INQUIRE_BOARD VALUES(SEQ_IB_POST_ID.NEXTVAL,#{ibPostTitle},#{ibPostWriter},#{ibPostCategory},#{ibPostContent},default)
		<selectKey keyProperty="ibPostId" resultType="_int" order="AFTER">
			SELECT SEQ_IB_POST_ID.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	<insert id="insertAttachment" parameterType="attachment">
		INSERT INTO ATTACHMENT VALUES(SEQ_ATTACHMENT_ID.NEXTVAL,#{attachmentTitle},#{originalFilename},#{renamedFilename},default)
	</insert>
</mapper>