<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="map">

<resultMap type="rentalshop" id="rentalshopMap">
	<id column="RENTALSHOP_ID" property="rentalshopId"/>
	<result column="RENTALSHOP_NAME" property="rentalshopName"/>
	<result column="RENTALSHOP_ADDR" property="rentalshopAddr"/>
	<result column="LATITUDE" property="latitude"/>
	<result column="LONGTITUDE" property="longitude"/>
	<result column="BM_MEMBER" property="bmMember"/>
</resultMap>

<resultMap type="vehicle" id="vehicleMap">
	<id column="VEHICLE_ID" property="vehicleId"/>
	<result column="MODEL" property="model"/>
	<result column="NUMBER_PLATE" property="numberPlate"/>
	<result column="RENTAL_STATUS" property="rentalStatus"/>
	<result column="PRODUCT_YEAR" property="productYear"/>
	<result column="RENTALSHOP_ID" property="rentalshopId"/>
	<result column="ACCIDENT_STATUS" property="accidentStatus"/>
	<result column="PRICE" property="price"/>
	<result column="FUEL" property="fuel"/>
	<result column="BOARDING_PERSONNEL" property="boardingPersonnel"/>
	<result column="VEHICLE_GRADE" property="vehicleGrade"/>
	<association property="rentalShop" resultMap="rentalshopMap"/>
</resultMap>

	<select id="searchRentalshop" resultMap="rentalshopMap">
		SELECT * FROM RENTALSHOP
		<!-- SELECT count(*) FROM VEHICLE JOIN RENTALSHOP USING(RENTALSHOP_ID) -->
	</select>
	
	
	<select id="selectVehicle" parameterType="_int" resultMap="vehicleMap">
		SELECT * FROM VEHICLE JOIN RENTALSHOP USING(RENTALSHOP_ID) WHERE RENTALSHOP_ID=#{no} AND rental_Status LIKE '대여가능'
	</select>
 
	<select id="selectBoardCount" resultType="int">
		SELECT COUNT(*) FROM VeHICLE WHERE RENTALSHOP_ID = #{no}
	</select> 
 	
 
	<select id="searchVehicle" parameterType="map" resultMap="vehicleMap">
		SELECT * FROM VEHICLE v JOIN RENTALSHOP USING(RENTALSHOP_ID) WHERE ${searchType} like '%'||#{searchKeyword}||'%' and RENTALSHOP_ID=#{no} AND rental_Status LIKE '대여가능'
	</select>
	
	<select id="searchVehicleCount" parameterType="map" resultType="_int">
		<!-- SELECT COUNT(*) FROM VEHICLE v WHERE ${searchType} LIKE '%'||#{searchKeyword}||'%' and RENTALSHOP_ID=#{no} AND rental_Status LIKE '대여가능' -->
		SELECT COUNT(*) FROM VEHICLE v JOIN RENTALSHOP USING(RENTALSHOP_ID) WHERE ${searchType} like '%'||#{searchKeyword}||'%' AND RENTALSHOP_ID=#{no} AND rental_Status LIKE '대여가능'
	</select>

	<select id="searchSearchRentalShop" parameterType="map" resultMap="vehicleMap">
		SELECT * FROM VEHICLE v JOIN RENTALSHOP USING(RENTALSHOP_ID) WHERE ${searchType} like '%'||#{searchKeyword}||'%' AND rental_Status LIKE '대여가능' ORDER BY RENTALSHOP_NAME
	</select>
	<select id="searchSearchRentalShopCount" parameterType="map" resultType="_int">
		SELECT COUNT(*) FROM VEHICLE v JOIN RENTALSHOP USING(RENTALSHOP_ID) WHERE ${searchType} like '%'||#{searchKeyword}||'%' AND rental_Status LIKE '대여가능'
	</select>

</mapper>
