<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
 <resultMap type="member" id="memberMap">
       <id property="memberId" column="member_id"/>
       <result property="password" column="password"/>
       <result property="memberName" column="member_name"/>
       <result property="birthday" column="birthday"/>
       <result property="email" column="email"/>
       <result property="phone" column="phone"/>
       <result property="address" column="address"/>
       <result property="totalMileage" column="total_mileage"/>
       <result property="enrollDate" column="enroll_date"/>
       <result property="secessionReason" column="secession_status"/>
    </resultMap>

  <insert id="insertMember" parameterType="member">
    INSERT INTO MEMBER VALUES(#{memberId},#{password},#{memberName},#{birthday},#{email},#{phone},#{address},default,default,default)
  </insert>
  
  <select id="selectMember" parameterType="member" resultMap="memberMap">
   SELECT * FROM MEMBER WHERE MEMBER_ID=#{memberId} AND PASSWORD=#{password}
  </select>
  
  <select id="selectMemberList" parameterType="member" resultMap="memberMap">
  	SELECT * FROM MEMBER
  </select>
  
  <select id="selectSearchList2" parameterType="member" resultMap="memberMap">
  	SELECT * FROM MEMBER WHERE ${type} LIKE '%'||#{keyword}||'%'
  </select>
  
  <select id="selectMemberCount" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
	</select>
  
  <select id="selectFindByMemberId" parameterType="string" resultMap="memberMap">
  SELECT * FROM MEMBER WHERE MEMBER_ID=#{userId} 
  </select>
  
  <select id="findId" parameterType="member" resultMap="memberMap">
   SELECT * FROM MEMBER WHERE MEMBER_NAME=#{memberName} AND EMAIL=#{email}
  </select>
  
  <select id="findPw" parameterType="map" resultMap="memberMap">
  SELECT * FROM MEMBER WHERE MEMBER_ID=#{id} AND EMAIL=#{email}
  </select>
  <select id="selectSearchList" parameterType="member" resultMap="memberMap">
  	SELECT * FROM MEMBER WHERE secessionReason='N'
  	<choose>
  		<when test="type !=null and type.equals('memberId')">
  		AND memberId LIKE CONCAT('%',#{keyword}, '%')
  		</when>
  		<when test="type !=null and type.equals('memberName')">
  		AND memberName LIKE CONCAT('%',#{keyword}, '%')
  		</when>
  	</choose>
  </select>
  

</mapper>
