<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="rentalshop">
  
  <resultMap type="rentalshop" id="rentalshopMap">
	<id column="RENTALSHOP_ID" property="rentalshopId"/>
	<id column="RENTALSHOP_NAME" property="rentalshopName"/>
	<id column="RENTALSHOP_ADDR" property="rentalshopAddr"/>
	<id column="LATITUDE" property="latitude"/>
	<id column="LONGTITUDE" property="longitude"/>
	<id column="BM_MEMBER" property="bmMember"/>
	<collection property="files" ofType="attachment">
			<id column="attachmentId" property="attachmentId"/>
			<result column="attachmentTitle" property="attachmentTitle"/>
			<result column="attchamentDate" property="attchamentDate"/>
			<result column="originalfilename" property="originalFilename"/>
			<result column="renamedFilename" property="renamedFilename"/>
			<result column="uploaddate" property="uploadDate"/>						
		</collection>
</resultMap>
<resultMap type="attachment" id="attachmentMap">
<id column="attachmentId" property="attachmentId"/>
			<result column="attachmentTitle" property="attachmentTitle"/>
			<result column="attchamentDate" property="attchamentDate"/>
			<result column="originalfilename" property="originalFilename"/>
			<result column="renamedFilename" property="renamedFilename"/>
			<result column="uploaddate" property="uploadDate"/>		
</resultMap>
	
  
   <select id="selectRentalshopList" parameterType="rentalshop" resultMap="rentalshopMap">
  	SELECT * FROM RENTALSHOP
  </select>
  
  <select id="selectRentalshopCount" resultType="_int">
		SELECT COUNT(*) FROM RENTALSHOP
	</select>
  
  <select id="selectrentalshop" parameterType="_int" resultMap="attachmentMap">
 	
		SELECT * FROM ATTACHMENT WHERE ATTACHMENT_ID=(SELECT ATTACHMENT_ID FROM RENTALSHOP_ATTACHMENT WHERE RENTALSHOP_ID=${no})
		
  </select>
  
  <insert id="insertRentalshop"  parameterType="rentalshop" >
  INSERT INTO RENTALSHOP VALUES (SEQ_RENTALSHOP_ID.NEXTVAL,#{rentalshopName},
  	#{rentalshopAddr},#{latitude},#{longitude},#{bmMember})
  </insert>
  
   <insert id="insertAttachment" parameterType="attachment">
 	INSERT INTO ATTACHMENT VALUES(SEQ_ATTACHMENT_ID.NEXTVAL,#{attachmentTitle},default,#{originalFilename},#{renamedFilename})
 	
 </insert>
  
  <insert id="insertId" parameterType="attachment">
  	INSERT INTO RENTALSHOP_ATTACHMENT VALUES(SEQ_RENTALSHOP_ID.NEXTVAL,SEQ_ATTACHMENT_ID.NEXTVAL)
  </insert>
  
</mapper>
