<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="secessionmember">
 <resultMap type="secessionmember" id="secessionmemberMap">
       <id property="secessionId" column="secession_id"/>
       <result property="secessionReason" column="secession_reason"/>
       <result property="secessionDate" column="secession_date"/>
       <result property="memberId" column="member_id"/>
    </resultMap>

  <select id="selectSecessionMemberList" parameterType="secessionmember" resultMap="secessionmemberMap">
  	SELECT * FROM MEMBER WHERE SECESSION_STATUS='Y'
  </select>

</mapper>
